.wrap>div {
	background: #ded9c4;
	border: white 1px solid;
	float: left;
	width: 100%;
	margin: 5px auto;
	box-sizing: border-box;
}
.wrap>div>div {
	background: #afc583;
	border: white 1px solid;
	box-sizing: border-box;
}
.ad, .ad-2 {
	background: #d6c37e !important;
	/*border: white 1px solid;*/
}
h4 {
	margin: 2px;
}
@media  screen and (max-width: 480px) {
	.hero-1, .ad, .sidebar {
		display: none;
	}
	.header {
		height: 140px;
	}
	.hero {
		height: 83px;
	}
	.body {
		height: 288px;
	}
	.footer {
		height: 30px;
	}
	.brand, .global, .tools {
		float: left;
		margin: 2px 5px;
	}
	.brand {
		width: 95%;
	}
	.global {
		width: 60%;
	}
	.tools {
		width: 31%;
	}
	.hero-2, .aricle-1, .ad-2 {
		margin: 2px 5px;
	}
	.aricle-2 {
		height: 150px;
	}
}
@media  screen 
and (min-width: 481px)
and (max-width: 768px) {
	.ad {
		display: none;
	}

}
@media  screen 
and (max-width: 1024px)
and (min-width: 769px) {
	.wrap {
		background: black;
	}
	.ad-2 {
		display: none;
	}
}